{
    box-sizing: boder-box;
}

body{
    margin: 0;
    font-family: 'Hontserrat', sans-serif;
    width: 100vw;
}
h1{
    font-size: 4rem;
}
ul{
    list-style: nome;
    display: flex;
}
li{
    margin: 0 15px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: auto 30px;
}

nav p{
     font-weight: bold;
}
header{
    height: 88vh;
    background: url('https://images.unsplash.com/photo-1602901248692-06c8935adac0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80') ;
}