{
    box-sizing: boder-box;
}

body{
    margin: 0;
    font-family: 'Hontserrat', sans-serif;
    width: 100vw;
    background-color: aliceblue;
}
h1{
    font-size: 4rem;
}
ul{
    list-style: nome;
    display: flex;
}
li{
    margin: 0 15px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: auto 30px;
}

nav p{
     font-weight: bold;
}
header{
    height: calc(100vh - 150px);
    background: no-repeat center/cover url('assets/header-imagem.png') ;
}